html, body{
  margin: 0;
  height: 100%;
}
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px; /* TODO :: body 에 margin 8px 이 기본인데 어디서 넣는 거지? */
}

ol, ul {
  padding-left: 30px;
}

.body-with-header {
  padding-top: 100px;
  padding-bottom: 36px;
  min-height: calc(100vh - 66px);
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

/* -- Header -- */
.header-background {
  background-color: lightgreen;
  padding: 15px;
}
/* -- Header -- */

/* -- Content -- */
.layout-main {
  background-color: lightblue;
}
/* -- Content -- */
